// Fonts
$default-font: "Inter", sans-serif;
$deafault-font-weight: 500;
$deafault-font-size: 16px;

// Page collors
$backgorund: #fff;

// Main text color
$text: #0E0E0E;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$gutter: $grid-gutter-width;