// Global imports
@import "vars";
@import "_mixins/media";
@import "nullstyle.scss";

body {
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  line-height: 17px;
  font-family: $default-font;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;
  }
}

b,
strong {
  font-weight: 700;
}

::placeholder {
  color: #666;
}

// Import sections
@import "sections/header";

// Import components
@import "components/button";

// Templates


// Global settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-style: $default-font;
  font-size: $deafault-font-size;
  font-weight: $deafault-font-weight;
  color: $text;

  &.active {
    overflow: hidden;
  }
}

// Header
@import "header.scss";

// Project_section
@import "project_section.scss";

// Footer
@import "footer.scss";